
li {
  display: inline;
  text-decoration: none;
  padding: 25px;
}

ul {
  border-bottom: 5px solid black;
  height: 50px;
  background-color: black;
  margin: 0px;
  padding-top: 25px;
  border-bottom: 5px solid red;
}

body {
  background: white;
  margin: 0;
}

html {
       font-family: sans-serif;
     }

a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

a:hover {
  color: red;
  border-bottom: 3px solid red;
}

.socialicon {
  border-bottom: none;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border-bottom: none;
}


  header {
    background: black;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  h2 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    margin: 5px;
    background: grey;
    display: inline-flex;
    flex-direction: column;
  }

  .aligncenter {
    text-align: center;
}

  .footer {
    position: absolute;
    background-color: #efefef;
    text-align: left;
    width: 100%;
    height: 500px;
    background: black;
    color: white;
  }

li a.active {
  color: red;
}

iframe {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 280px 280px;
  grid-template-rows: 280px 280px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;
  margin: 0px;
}

.item-a {
grid-column-start: 1;
grid-column-end: 1;
z-index: 1030;
border-bottom: 3px solid red;
}

.item-b {
grid-column-start: 2;
grid-column-end: 2;
z-index: 1030;
border-bottom: 3px solid red;
}

.item-c {
grid-column-start: 1;
grid-column-end: 1;
z-index: 1030;
border-bottom: 3px solid red;
}

.item-d {
grid-column-start: 2;
grid-column-end: 2;
z-index: 1030;
border-bottom: 3px solid red;
}


@media screen and (max-width: 1000px) {
  ul {
    height: 300px;
  }

  li {
    display: block;
    text-align: center;
  }

  p {
  font-size: 25px;
  }
}
