li {
  display: inline;
  text-decoration: none;
  justify-content: space-between;
  padding: 25px;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: none;
  font-size: 18px;
}

a:hover {
  color: red;
  border-bottom: 3px solid red;
}


.active {
  color: red;
  border-bottom: 3px solid red;
}

body {
  background: black;
  font-family: "nimbus-sans-condensed",impact,sans-serif;
}

.center{
  text-align: center;
}

ul {
  border-bottom: red;
}

p {
  color: white;
}

h1 {
  color: red;
}
